// import the base SCSS mixins, variables etc for use in all your components
@import './styles/utils/base';

.middle {
    display: flex;
    margin-top: 40px;
}

.hero-stuff {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-stuff {
  margin: 0 auto;
}
