.card {
  // color: white;
  width: 300px;
  border-radius: 5px;
  background: slategray;
  padding: 20px;
  margin: 0 auto;
}

.img {
  width: 200px;
}

.card__like {
  color: white;
}

.card__comment {
  color: white;
}

.card-img {
  width: 20px;
}