@import '../styles/reset.scss';
@import '../styles/utils/base';

.filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: darkgrey;


}