@import '../../styles/reset.scss';
@import '../../styles/utils/base';

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(6, 138, 182);
  padding: 20px;

  &__logo {
    font-size: 2.5rem;
    color: white;
  }

  &__search {
    color: white;
  }

  &__link {
    width: 8%;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  &__link:hover {
    color: darkcyan;
  }
}