@import '../../styles/reset.scss';
@import '../../styles/utils/base';

.hero {
    width: 550px;
    // height: 200px;
    display: flex;

    .picture {
        max-width: 100%;
    }

    .p-tag {
        color: white;
    }
}